import(shiny)
importFrom(ggplot2, ggplot, geom_histogram, geom_line, geom_rug, 
	geom_point, geom_ribbon, geom_errorbarh, geom_blank, geom_text, 
	geom_vline, geom_area, geom_segment, aes_, aes, aes_string, ensym, 
	sym, ylim, labs, vars, scale_size_identity, scale_linetype_manual, 
	scale_colour_manual, scale_fill_manual, label_wrap_gen, margin, 
	scale_x_continuous, scale_y_continuous, scale_color_brewer,
	scale_y_discrete, scale_shape_manual, coord_cartesian, waiver,
	facet_grid, facet_wrap, theme, theme_bw, element_text)
importFrom(plotly, renderPlotly, plotlyOutput)
importFrom(dplyr, "%>%")
importFrom(rlang, "!!", ":=", ".data")
importFrom(shinydashboard, box)
importFrom(LIME, create_lh_list, run_LIME, sim_pop, plot_output)
importFrom(LBSPRDome, optLBSPRDome, simLBSPRDome)
importFrom(devtools, source_gist)
importFrom(shinyBS, bsTooltip)
importFrom(shinyWidgets, useShinydashboard)
importFrom("grDevices", "dev.off")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "hist",
    "lines", "par", "plot.new", "points", "polygon")
importFrom("stats", "as.formula", "coef", "fitted", "na.omit", "nls",
           "nls.control", "predict", "quantile", "resid")
importFrom("utils", "read.csv", "str", "write.csv", "globalVariables")
importFrom("reshape2", "melt")
export(myApp)
